@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<p>Select an option from above.</p>
<br />

@if (ViewBag.isAdmin == "true")
{
    <h3>Administrator Console</h3>
    <a asp-controller="Events" asp-action="AdminEvent">Add Event to Calendar</a>
    <br />
    <a asp-controller="Events" asp-action="StudentEvents">Approve Student Event Requests</a>
    <br />
    <a asp-controller="Users" asp-action="Index">Manage Users</a>
    <br />
    <a asp-controller="Prizes" asp-action="ManagePrizes">Manage Prize Catalog</a>
}
