@model List<FlashPoints.Models.Prize>

@{
    ViewData["Title"] = "Index";
}

<h2>Prize Catalog</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-6 center-block" style="float:none">
            <h3>@item.Title</h3>
            <a asp-action="Details" asp-route-id="@item.ID" class="text-center"><img src="~/images/prizes/@item.ImagePath" class="center-block img-responsive" /></a>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <p><strong>@item.PointPrice Points</strong></p>
                </div>
                <div class="col-sm-4">
                    <p>  </p>
                </div>
                <div class="col-sm-4">
                    <p style="color:red"><strong>Not yet redeemed</strong></p>
                </div>
            </div>

        </div>
    </div>
}
